* {  
    text-align: center;
    background: linear-gradient(to right, red, rgb(15, 15, 15)); 
    font-family: Arial, sans-serif;
}
img {
    width: 250px;
    margin-top: 1rem;
    border-radius: 100rem;
    border: 0.3rem solid rgb(238, 5, 5);

}
h1 {
    font-size: 3.2rem;

}
h2 {
    font-size: 2rem;
}
a {
    display: block;
    background: rgb(7, 7, 7);
    color: rgb(92, 9, 9);
    margin: 10px;
    font-size: 1.5rem;
    font-family:fantasy;
    text-decoration: none;
    border-radius: 10px 0 10px 0;
    border:0.1rem solid red;
    padding: 0.5rem;
    cursor:pointer;
    
}
a:hover {
    background: rgb(238, 5, 5);
    color: white;
    transition: 0.3s;
}